<!doctype html>
<html ng-app="demo">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    	<script src="hello.js"></script>
	</head>

	<body>
		<div ng-controller="Album">
			
		<div ng-repeat="album in albuns">
			<p>Album: {{album.name}}</p>
			<p>Has songs:</p>
			<ul>
				<li ng-repeat="song in album.songs">{{song.name}}</li>
			</ul>
		</div>
		
			
		</div>
	</body>
</html>
